@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;

  /* Variables */
  --nav-width: 20%;
  --dist-from-wall: 1.5%;

  --page-bg: #2d2d2f;
  --content-bg: #5e5e61;

  --active-color: black;
}

/* Scrollbar for chrome and friends */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--content-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--page-bg);
}

body {
  margin: 0;

  display: flex;

  background: var(--page-bg);
  color: white;

  height: 99.66vh;
}

.no-selection {
  /* Keep user from selecting element */
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;    /* Firefox all */
  -ms-user-select: none;     /* IE 10+ */
  -o-user-select: none;      /* Operah */
  user-select: none;         /* Everything else */
}

/* Making the scaling a little more sane. */
h1 { font-size: 25px; }
h2 { font-size: 20px; }
h3 { font-size: 17px; }

header h1 {
  margin: 0;
  padding: 0;
}

.title-box {
  position: fixed;
  width: 96.9%;
  margin: var(--dist-from-wall) 0 var(--dist-from-wall) var(--dist-from-wall);

  padding: 0.5% 0 0.5% 0;

  text-align: center;
  background-color: var(--content-bg);
  border-radius: 8px;
}

.nav-box {
  display: inline-block;
  text-align: center;

  background-color: var(--content-bg);
  border-radius: 8px;

  width: var(--nav-width);

  margin: 6.3% calc(var(--dist-from-wall) / 2) var(--dist-from-wall) var(--dist-from-wall);

}

.nav-content {
  list-style: none;
  text-align: left;

  height: calc(100% - var(--dist-from-wall) - 3%);
  overflow-y: scroll;
}

.content-box {
  display: inline-block;

  background-color: var(--content-bg);
  border-radius: 8px;

  width: calc(100% - var(--nav-width));
  margin: 6.3% var(--dist-from-wall) var(--dist-from-wall) calc(var(--dist-from-wall) / 2);
}

article {
  overflow-y: scroll;
  width: calc(100% - var(--nav-width) + 16.5%);
  height: calc(100% - var(--dist-from-wall));

  padding-left: 2%;
}

/* Article stuff */
.article-listing {
  list-style: none;
  margin-left: 2ch;
  padding-left: 0;
}

.article-button {
  border: none;
  background-color: var(--content-bg);
  color: white;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

#article-home {
  display: block;
}

/* Content stuff */
.toggle {
  border: none;
  background-color: var(--content-bg);
  color: white;

  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

/* Focus elements */
.toggle:focus {
  outline: 0;
}

.image {
  border-radius: 8px;
}

.image-side-text {
  display: flex;
  flex-direction: row;
}

.image-side-text p {
  padding-left: 2.5ch;
}

#active {
  color: var(--active-color);
}

/* Mobile / small screens */
@media  screen and (max-width: 1080px) {
  body {
    display: block;
  }

  .title-box {
    position: absolute;
    margin: var(--dist-from-wall) var(--dist-from-wall) calc(var(--dist-from-wall) * 2) var(--dist-from-wall);
    padding: 0;
  }

  .nav-box {
    margin:  0 var(--dist-from-wall) 0 var(--dist-from-wall);
    margin-top: calc(var(--dist-from-wall) * 4);

    width: 96.9%;
  }

  .nav-box ul {
    padding: 1%;
    width: 98%;
  }

  .content-box {
    margin:  0 var(--dist-from-wall) 0 var(--dist-from-wall);
    margin-top: var(--dist-from-wall);

    overflow: scroll;

    width: 96.9%;
    height: 100%;
  }

}
